body {
	background-color: #cccccc;
}

.myNavbar {
	padding: 40px;
	text-align: center;
	background: #cccccc;
	color: white;
	font-size: 30px;
}
p.paralign {
	margin: auto;
	width: 50%;
	padding: 10px;
}
.Navbar {
	text-align: center;
}
.footer-link {
	text-align: center;
}
